body{
   margin: 0;
   background: #4b004b;
   display: flex;
   justify-content: center;
}

.container {
   width: 900px;
   background-color: aliceblue;
   padding: 10px;
   display: grid;
   gap: 10px;

   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: auto 1fr;

   grid-template-areas: 
   "header header header"
   "menu menu menu"
   "left content right"
   "footer footer footer";
}

.box{
   background: #b0c4b0;
   padding: 20px;
   text-align: center;
   font-weight: bold;

}

.header{ grid-area: header;}
.menu{ grid-area: menu;}
.left{ grid-area: left;}
.content{grid-area: content;}
.right{grid-area: right;}
.footer{grid-area: footer;}