.container {
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-rows: auto 1fr;
}

.header {
   background-color: aliceblue;
   padding: 20px;
}

.sidebar {
   background-color: brown;
   padding: 20px;
}

.content {
   background-color: grey;
   padding: 20px;
}