.container {
   background-color: blue;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px;
   display: flex;  
}

.box{
   width: 50px;
   height: 50px;
   border: 3px solid #0000;
   border-radius: 3px;
}

#box1 {
   background-color: yellow;
}

#box2 {
   background-color: green;
}

#box3 {
   background-color: red;
}