body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding-top: 120px;
}

header {
   background-color: #8f8e8e;
   color: black;
   padding: 20px;
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;

} 

main {
   display: grid;
   grid-template-columns: repeat(auto-fit, mimax(300px, 1fr));
   gap: 20px;
   padding: 20px;

}

.content{
   background-color: #e4e3e3;
   padding: 20px;
   border-radius: 3px;
}

footer {
   background-color: #8f8e8e;
   color: black;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}