
.display-block{
   display: block;
   height: 200px;
   background-color: blue;
   border: 1px solid #000;
}

.display-inLine{
   display: inline;
   background-color: green;
   border: 1px solid #000;
}

.display-inLine-block{
   display: inline-block;
   background-color: red;
   border: 1px solid #000;
}