body {
   padding: 20%;
   font-family: Arial, Helvetica, sans-serif;
}

.imagem-flutuante {
   float: left;
   width: 100px;
   margin-right: 20px;
}

.subtitulo {
   clear: both;
}

.header {
   background-color: yellow;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   border: solid 1px  #000;
   padding: 200px;
   font-size: 20px;
}

.relativo {
   position: relative;
   height: 100px;
   background-color: blue;
}

.absoluto {
   position: absolute;
   height: 50px;
   background-color: red;
   top: 0;
   right: 10px;
   width: 20px;
}

.fixed {
   width: 50px;
   height: 50px;
   background-color: black;
   bottom: 20px;
   right: 20px;
}